################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/GBmonoBusiness/GBmonoBusiness.sln
/GBmonoBusiness/.vs/GBmonoBusiness/v14/.suo
/GBmonoBusiness/.vs/config/applicationhost.config
