

<div class="page-content">
    <div class="row">
        <div class="col-4">
            <div class="gbmono_sum">
                <div class="gbmono_radius">
                    <div class="col-12 background_white" style="font-size:16px;">
                        累计用户
                    </div>
                    <div class="col-12">
                        <span class="gbmono_report_number" style="font-size:24px;color:#46a9fc">105668</span>
                        <span class="gbmono_report_unit" style="font-size:12px;">(人次)</span>
                    </div>
                </div>
            </div>
        </div>   
        <div class="col-4">
            <div class="gbmono_sum">
                <div class="gbmono_radius">
                    <div class="col-12 background_white" style="font-size:16px;">
                        累计产品
                    </div>
                    <div class="col-12">
                        <span class="gbmono_report_number" style="font-size:24px;color:#46a9fc">12600 </span>
                        <span class="gbmono_report_unit" style="font-size:12px;">(件产品)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="gbmono_sum">
                <div class="gbmono_radius">
                    <div class="col-12 background_white" style="font-size:16px;">
                        累计品牌
                    </div>
                    <div class="col-12">
                        <span class="gbmono_report_number" style="font-size:24px;color:#46a9fc">88</span>
                        <span class="gbmono_report_unit" style="font-size:12px;">（个品牌）</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-top-20">
       
        <div class="col-6" id="widget_product_count">
            <div class="card">
                <div class="card-header">
                    产品构成
                    <!--<div class="card-actions">
                        <a href="">
                            <small class="text-muted">docs</small>
                        </a>
                    </div>-->
                </div>
                <div class="card-block">
                    <div id="chartProductCategory" style="height:300px"></div>
                    
                </div>
            </div>

        </div>

        <div class="col-6" id="widget_product_count">

            <div class="card">
                <div class="card-header">
                    热门品类
                </div>
                <div class="card-block">
                    <div id="charthotCategory" style="height:300px"></div>
                   
                </div>
            </div>

        </div>


       
    </div>


        
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    用户兴趣
                </div>
                <div class="card-block">
                    <div id="chartCatery" style="height:500px"></div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    地区分布
                </div>
                <div class="card-block">
                    <div id="chartArea" style="height:500px"></div>
                </div>
            </div>
        </div>
        
    </div>
</div>


