<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a ng-href="#/">主页</a>
        </li>

        <li>
            <a href="">新闻管理</a>
        </li>
    </ul><!-- /.breadcrumb -->
</div>

<!-- list -->
<div class="page-content">
    <div class="row">
        <div class="col-md-10 col-xs-12">
            <div class="widget-box transparent">
                <div class="widget-header">
                    <h4 class="widget-title lighter"> 新闻资讯 </h4>

                    <div class="widget-toolbar no-border">
                        <a href="" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main padding-18 no-padding-left no-padding-right">
                        <div class="row">
                            <div class="col-xs-12">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-10 offset-1">
                                            <p>标题</p>
                                            <input class="form-control" type="text"
                                                   ng-model="vm.editArticle.title"/>
                                        </div>
                                        
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-10 offset-1">
                                            <p>Tags</p>
                                            <select kendo-multi-select="mSelect" 
                                                    k-options="vm.selectOptions" 
                                                    k-ng-model="vm.editArticle.tagIds">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">  
                                        <div  class="col-md-11 offset-1">
                                            <p>内容</p>
                                            <textarea id="content" style="height:550px;"></textarea>
                                        </div>                                     
                                        
                                    </div>

                                    <div class="clearfix form-actions">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button class="btn btn-info" type="button"
                                                    ng-click="vm.update()">
                                                <i class="ace-icon fa fa-check bigger-110"></i>
                                                更新
                                            </button>

                                            &nbsp; &nbsp; &nbsp;
                                            <a class="btn" ng-href="#/articles">
                                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                                返回
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
