<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a ng-href="#/">主页</a>
        </li>
        <li>
            <a href="">店铺编辑</a>
        </li>
    </ul><!-- /.breadcrumb -->
</div>


<div class="page-content">
    <div class="row">
        <div class="col-md-7 col-xs-12">
            <div class="widget-box transparent">
                <div class="widget-header">
                    <h4 class="widget-title lighter"><i class="fa fa-edit"></i> 编辑</h4>
                    <div class="widget-toolbar no-border">
                        <a href="" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main padding-18 no-padding-left no-padding-right">
                        <div class="row">
                            <div class="col-xs-12">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right"> 名称</label>
                                        <div class="col-md-6 col-sm-9">
                                            <input class="col-xs-12" type="text"
                                                   ng-model="editRetailerShop.name" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right"> 显示名</label>
                                        <div class="col-md-6 col-sm-9">
                                            <input class="col-xs-12" type="text"
                                                   ng-model="editRetailerShop.displayName"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right"> 地址</label>
                                        <div class="col-md-6 col-sm-9">
                                            <input class="col-xs-12" type="text"
                                                   ng-model="editRetailerShop.address" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right"> 经度</label>
                                        <div class="col-md-6 col-sm-9">
                                            <input class="col-xs-12" type="text"
                                                   ng-model="editRetailerShop.latitude" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right"> 纬度</label>
                                        <div class="col-md-6 col-sm-9">
                                            <input class="col-xs-12" type="text"
                                                   ng-model="editRetailerShop.longitude" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right"> 电话</label>
                                        <div class="col-md-6 col-sm-9">
                                            <input class="col-xs-12" type="text"
                                                   ng-model="editRetailerShop.phone" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label no-padding-right"> 地区 </label>
                                        <div  class="col-md-6 col-sm-9">
                                            <select class="form-control"
                                                    ng-options="state.stateId as state.displayName for state in states"
                                                    ng-model="editShopStateId"
                                                    ng-change="stateChangedForEdit()">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': formedit.nameEdit.$dirty && formedit.nameEdit.$error.required }">
                                        <label  class="col-sm-3 control-label no-padding-right"> 城市 </label>
                                        <div  class="col-md-6 col-sm-9">
                                            <select class="form-control"
                                                    ng-options="city.cityId as city.displayName for city in citiesForEdit"
                                                    ng-model="editRetailerShop.cityId" required>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right"> 免税</label>
                                        <div class="col-md-6 col-sm-9">
                                            <input type="checkbox" ng-model="editRetailerShop.taxFree" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right"> 银联</label>
                                        <div class="col-md-6 col-sm-9">
                                            <input type="checkbox" ng-model="editRetailerShop.unionpay"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right"> 激活</label>
                                        <div class="col-md-6 col-sm-9">
                                            <input type="checkbox" ng-model="editRetailerShop.enabled"/>
                                        </div>
                                    </div>

                                    <div class="clearfix form-actions">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button class="btn btn-info" type="button"
                                                    ng-click="update()">
                                                <i class="ace-icon fa fa-check bigger-110"></i>
                                                更新
                                            </button>
                                            &nbsp; &nbsp; &nbsp;
                                            <a class="btn" ng-href="#/retailershops">
                                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                                返回
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-md-5 col-xs-12">
            <div class="widget-box transparent">


            </div>
        </div>
    </div>
</div>