<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a ng-href="#/">主页</a>
        </li>
        <li>
            <a href="">品牌商管理</a>
        </li>
    </ul><!-- /.breadcrumb -->
</div>
<!-- view -->
<div class="page-content">
    <div class="row">
        <div class="col-md-10 col-xs-12">
            <div class="widget-box transparent">
                <div class="widget-header">
                    <h4 class="widget-title lighter"> 品牌商列表 </h4>
                    <div class="widget-toolbar no-border">
                        <a href="" data-action="reload">
                            <i class="ace-icon fa fa-refresh"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main padding-18 no-padding-left no-padding-right">
                        <p>
                            <buttn class="btn btn-info" ng-click="">
                                <i class="ace-icon fa fa-pencil align-top bigger-125"></i>
                            </buttn>
                        </p>
                        <div class="row">
                            <div class="col-xs-12">
                                <div kendo-grid="grid"
                                     k-options="vm.mainGridOptions">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>